<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head
	th:include="base/layout :: headerFragment (pageTitle='Student Permanent Information')">
<title></title>
</head>
<body id="page-top">
	<link th:href="@{/js/datatables/datatables.min.css}" rel="stylesheet"
		type="text/css">
	<link th:href="@{/css/student-profile.css}" rel="stylesheet"
		type="text/css">

	<nav class="navbar navbar-expand navbar-dark bg-dark static-top"
		th:replace="base/layout :: header"></nav>

	<div id="wrapper">
		<!-- Sidebar -->
		<ul class="sidebar navbar-nav"
			th:insert="base/layout :: siderFragment">
		</ul>


		<div id="content-wrapper">
			<div class="container-fluid">
				<div class="card mb-3">
					<div class="card-header">
						<span id="edited_info" class="float-right">Edited by <Strong>Admin</Strong>
							on <Strong>10/08/2018 11:11:11</Strong></span>
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-table"></i> Student Permanent Information</a>
							</li>
							<li class="nav-item"><a class="nav-link" th:href="@{/student/yearlyreport/}+${id}">Yearly Report</a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{/student/postAMPActivities/}+${id}">Post Activities</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<form id="profileForm" th:object="${studentBean}"
							th:action="@{/student/profile/update/}+${id}" method="post"
							enctype="multipart/form-data">
							<!-- Student id -->
							<div class="form-group row">
								<label for="user_id" class="col-sm-1 col-form-label-sm">ID:</label>
								<div class="col-sm-3">
									<input type="text"
										class="form-control-plaintext form-control-sm" id="user_id"
										th:field="*{student_id}" th:value="${student_id}" disabled>
								</div>
							</div>
							<!-- Student Name -->
							<div class="form-group row">
								<label for="
								first_name"
									class="col-sm-1 col-form-label-sm"> First name:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control form-control-sm"
										id="first_name" placeholder="First Name"
										th:field="*{firstName}" th:value="${firstName}">
								</div>
								<label for="middle_name" class="col-sm-1 col-form-label-sm ">Middle
									name:</label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm"
										id="middle_name" th:field="*{middleName}"
										th:value="${middleName}">
								</div>
								<label for="last_name" class="col-sm-1 col-form-label-sm">Last
									name:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control form-control-sm"
										id="last_name" th:field="*{lastName}" th:value="${lastName}">
								</div>
							</div>
							<div class="form-group required row">
								<label class="control-label col-form-label-sm col-sm-1"
									for="Gender"> Gender: </label>
								<div class="col-sm-3">
									<label class="radio-inline" th:each="entry:${gender}">
										<input type="radio" name="Gender_radio"
										th:value="${entry.key}" th:field="*{gender}"> <span
										th:text="${entry.value}"></span>
									</label>
								</div>
								<label class="control-label col-form-label-sm col-sm-1 date"
									for="birthDate"> DOB: </label>
								<div class="col-sm-3">
									<input class="form-control form-control-sm" id="birthDate"
										name="birthDate" placeholder="MM/DD/YYYY" type="text"
										th:field="*{birthDate}" th:value="${birthDate}" /> <span
										class="glyphicon glyphicon-th"></span>
								</div>
							</div>
							<div class="form-group required row">
								<label class="col-sm-1 col-form-label-sm" for="PhoNum">
									Phone Number:</label>
								<div class="col-sm-3">
									<input class="form-control form-control-sm" id="PhoNum"
										name="PhoNum" placeholder="Phone Numbe" type="text"
										th:field="*{phone_num}" th:value="${phone_num}" />
								</div>
								<label class="control-label col-form-label-sm col-sm-1"
									for="Veteran"> Veteran: </label>
								<div class="col-sm-1">
									<label class="radio-inline" th:each="entry:${yesno}"> <input
										type="radio" name="FristGen_radio" th:value="${entry.key}"
										th:field="*{veteran}"> <span th:text="${entry.value}"></span>
									</label>
								</div>
								<label class="control-label col-form-label-sm col-sm-4"
									for="FirstGen"> Do either of your parents have a
									college or University Bachelor's degree?: </label>
								<div class="col-sm-1">
									<label class="radio-inline" th:each="entry:${yesno}"> <input
										type="radio" name="FristGen_radio" th:value="${entry.key}"
										th:field="*{first_gen_college_student}"> <span
										th:text="${entry.value}"></span>
									</label>
								</div>
							</div>
							<!-- Home language and Expected Highest Degree -->
							<div class="form-group required row">
								<label class="control-label col-form-label-sm col-sm-2"
									for="LanguageatHome"> Language spoken at home: </label>
								<div class="col-sm-3">
									<input class="form-control form-control-sm" id="LanguageatHome"
										name="LanguageatHome" placeholder="Language spoken at home"
										type="text" th:field="*{language_at_home}"
										th:value="${language_at_home}" />
								</div>
								<label class="control-label col-form-label-sm col-sm-2"
									for="ExpectHighestDegree"> Expected highest degree?: </label>
								<div class="col-sm-3">
									<input class="form-control form-control-sm"
										id="ExpectHighestDegree" name="ExpectHighestDegree"
										placeholder="Expected highest degree" type="text"
										th:field="*{expected_highest_degree}"
										th:value="${expected_highest_degree}" />
								</div>
							</div>
							<!-- SSN last 4 digits and family income-->
							<div class="form-group required row">
								<label class="col-sm-2 col-form-label-sm " for="ssn_last_four">
									Last 4 digital of SSN:</label>
								<div class="col-sm-2">
									<input class="form-control form-control-sm" id="ssn_last_four"
										name="ssn_last_four" placeholder="Last 4 digital of SSN"
										type="text" th:field="*{ssn_last_four}"
										th:value="${ssn_last_four}" />
								</div>
								<label class="col-sm-2 col-form-label-sm " for="family_income">
									Family Income:</label>
								<div class="col-sm-2">
									<select id="family_income" th:field="*{family_income}"
										class="form-control form-control-sm">
										<option th:each="entry:${familyincome}"
											th:value="${entry.key}" th:text="${entry.value}"></option>
									</select>
								</div>
							</div>
							<hr>
							<div class="form-group required row">
								<label class="col-sm-2 col-form-label-sm" for="C_Address_1">
									Current Address: </label>
								<div class="col-sm-4">
									<input class="form-control form-control-sm" id="C_Address_1"
										name="C_Address_1" placeholder="line1" type="text"
										th:field="*{current_address_line1}"
										th:value="${current_address_line1}" />
								</div>
							</div>
							<div class="form-group required row">
								<div class="col-sm-4 offset-sm-2">
									<input class="form-control form-control-sm" id="C_Address_2"
										name="C_Address_2" placeholder="line2" type="text"
										th:field="*{current_address_line2}"
										th:value="${current_address_line2}" />
								</div>
							</div>
							<div class="form-group required row">
								<label class="col-sm-1 col-form-label-sm" for="City">
									City:</label>
								<div class="col-sm-2">
									<input class="form-control form-control-sm" id="City"
										name="City" placeholder="city" type="text"
										th:field="*{current_address_city}"
										th:value="${current_address_city}" />
								</div>

								<label class="col-sm-1 col-form-label-sm" for="County">
									County:</label>
								<div class="col-sm-2">
									<input class="form-control form-control-sm" id="County"
										name="County" placeholder="County" type="text"
										th:field="*{current_address_county}"
										th:value="${current_address_county}" />
								</div>

								<label class="col-sm-1 col-form-label-sm" for="State">
									State:</label>
								<div class="col-sm-2">
									<select name="current_address_state"
										th:field="*{current_address_state}"
										class="form-control form-control-sm">
										<option value="">-- Select One --</option>
										<option th:each="entry:${state}" th:value="${entry.key}"
											th:text="${entry.value}"></option>
									</select>
								</div>

								<label class="col-sm-1 col-form-label-sm" for="ZipCode">
									ZipCode:</label>
								<div class="col-sm-2">
									<input class="form-control form-control-sm" id="ZipCode"
										name="ZipCode" placeholder="Zip" type="text"
										th:field="*{current_address_zip}"
										th:value="${current_address_zip}" />
								</div>
							</div>
							<hr>
							<div class="form-group required row">
								<label class="col-sm-2 col-form-label-sm" for="P_Address_1">
									Parent Address: </label>
								<div class="col-sm-4">
									<input class="form-control form-control-sm" id="P_Address_1"
										name="C_Address_1" placeholder="line1" type="text"
										th:field="*{parent_address_line1}"
										th:value="${parent_address_line1}" />
								</div>
							</div>
							<div class="form-group required row">
								<div class="col-sm-4 offset-sm-2">
									<input class="form-control form-control-sm" id="P_Address_2"
										name="C_Address_2" placeholder="line2" type="text"
										th:field="*{parent_address_line2}"
										th:value="${parent_address_line2}" />
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-1 col-form-label-sm" for="PCity">
										City:</label>
									<div class="col-sm-2">
										<input class="form-control form-control-sm" id="PCity"
											name="PCity" placeholder="city" type="text"
											th:field="*{parent_address_city}"
											th:value="${parent_address_city}" />
									</div>

									<label class="col-sm-1 col-form-label-sm" for="PCounty">
										County:</label>
									<div class="col-sm-2">
										<input class="form-control form-control-sm" id="PCounty"
											name="PCounty" placeholder="County" type="text"
											th:field="*{parent_address_county}"
											th:value="${parent_address_county}" />
									</div>

									<label class="col-sm-1 col-form-label-sm" for="PState">
										State:</label>
									<div class="col-sm-2">
										<select name="current_address_state"
											th:field="*{parent_address_state}"
											class="form-control form-control-sm">
											<option value="">-- Select One --</option>
											<option th:each="entry:${state}" th:value="${entry.key}"
												th:text="${entry.value}"></option>
										</select>
									</div>

									<label class="col-sm-1 col-form-label-sm" for="PZipCode">
										ZipCode:</label>
									<div class="col-sm-2">
										<input class="form-control form-control-sm" id="PZipCode"
											name="PZipCode" placeholder="Zip" type="text"
											th:field="*{parent_address_zip}"
											th:value="${parent_address_zip}" />
									</div>
								</div>
							</div>
							<hr>
							<div class="form-group row">
								<label for="Ethnicity" class="col-sm-3 col-form-label-sm">Do
									you consider yourself Hispanic or Latino?</label> <label
									class="radio-inline" th:each="entry:${yesno}"> <input
									type="radio" name="FristGen_radio" th:value="${entry.key}"
									th:field="*{ethnicity}"> <span th:text="${entry.value}"></span>
								</label>
							</div>
							<!-- Race -->
							<div class="form-group">
								<div class="row">
									<label for="Race" class="col-sm-1 col-form-label-sm">
										Race:</label>
									<div class="form-check form-check-inline"
										th:each="entry:${race}">
										<label class="checkbox inline"> <input type="checkbox"
											name="race" th:value="${entry.key}" th:field="*{race}"><span
											th:text="${entry.value}"></span>
										</label>
									</div>
								</div>
							</div>
							<!-- disability -->
							<div class="form-group row">
								<label for="Disability" class="col-sm-1 col-form-label-sm">
									Disability:</label><select class="custom-select col-sm-2"
									name="disability" id="disability" th:field="*{disability}">
									<option value="">-- Select One --</option>
									<option th:each="entry:${disability}" th:value="${entry.key}"
										th:text="${entry.value}"></option>
								</select>
								<div id="div_disa_type" class="col-sm-9">
									<label for="Disability_type" class="col-sm-2 col-form-label-sm">
										Disability Type:</label><select class="custom-select col-sm-7"
										name="disability_type" th:field="*{disability_type}">
										<option th:each="entry:${dis_type}" th:value="${entry.key}"
											th:text="${entry.value}"></option>
									</select>
								</div>
							</div>
							<hr>
							<!-- high school name, GPA and work Hours-->
							<div class="form-group row">
								<label for="highschool_name" class="col-sm-2 col-form-label-sm">
									High School Name:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control form-control-sm"
										id="highschool_name" placeholder="High School Name"
										th:field="*{high_shcool_name}" th:value="${high_shcool_name}" />
								</div>
							</div>
							<div class="form-group row">
								<label for="highschool_GPA" class="col-sm-2 col-form-label-sm">
									High School GPA:</label>
								<div class="col-sm-1">
									<input type="text" class="form-control form-control-sm"
										id="highschool_GPA" placeholder="GPA"
										th:field="*{high_shcool_GPA}" th:value="${high_shcool_GPA}">
								</div>
								<label for="highschool_workhours"
									class="col-sm-2 col-form-label-sm"> Hours worked during
									HS, college:</label>
								<div class="col-sm-1">
									<input type="text" class="form-control form-control-sm"
										id="highschool_workhours" placeholder="hours"
										th:field="*{high_shcool_workhours}"
										th:value="${high_shcool_workhours}">
								</div>
								<label for="highschool_tesing"
									class="col-sm-2 col-form-label-sm"> High school
									attended Test:</label>
								<div class="form-check form-check-inline"
									th:each="entry:${hs_testing}">
									<label class="form-check-input"> <input type="checkbox"
										name="hs_testing" th:value="${entry}"
										th:field="*{high_school_testing}"><span
										th:text="${entry}"></span>
									</label>
								</div>
							</div>
							<!-- high school transcript -->
							<div class="form-group">
								<label>High School Transcript:</label>
								<p th:if="${studentBean.hs_transcript_file_name != null}">
									Download:<a id="downloadTranscriptlink"
										th:href="@{'/student/profile/downloadTranscriptFile/'+${id}}"
										th:text="${studentBean.hs_transcript_file_name}"></a>
								</p>
								<input class="form-control" type="file" name="TranscriptFile"
									id="TranscriptFile">
							</div>
							<div class="form-group">
								<button class="btn btn-primary" type="submit" id="uploadTrscBtn">Upload</button>
							</div>
							<!-- Activities -->
							<div class="form-group">
								<label class="col-sm-2 col-form-label-sm" for="Comments">Activities:</label>
								<table class="table table-hover table-bordered small-text"
									id="tableActitvities">
									<thead>
										<tr class="tr-header">
											<th style="width: 5%"><a href="javascript:void(0);"
												id="addMoreActivities" title="Add Entry"><span><i
														class="fa fa-plus" aria-hidden="true"></i></span></a></th>
											<th style="width: 5%"></th>
											<th style="width: 33%">Activity Name</th>
											<th style="width: 12%">Date</th>
											<th style="width: 12%">Activity Type</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<input type="hidden" id="activitiesList" name="activitiesList">
							</div>
							<hr>
							<!-- Recommendation Letter -->
							<div class="form-group">
								<label>Recommendation File:</label>
								<p th:if="${studentBean.recommendation_file_name != null}">
									Download:<a id="downloadRecommendationlink"
										th:href="@{'/student/profile/downloadRecommendationFile/'+${id}}"
										th:text="${studentBean.recommendation_file_name}"></a>
								</p>
								<input class="form-control" type="file"
									name="recommendationFile" id="recommendationFile">
							</div>
							<div class="form-group">
								<button class="btn btn-primary" type="submit" id="uploadCmdBtn">Upload</button>
							</div>
							<hr>
							<div class="form-group ">
								<label class="col-sm-2 col-form-label-sm" for="Comments">Comments:</label>
								<textarea class="form-control" id="Comments" rows="3"
									th:field="*{comments}" th:value="${comments}"></textarea>
							</div>
							<hr>
							<button type="button" class="btn btn-primary float-right"
								onClick='submitProfileForm()'>Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="uploadRecommendModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" id="progressModalHeader">
					<h1>Uploading...</h1>
				</div>
				<div class="modal-body">
					<div class="progress" id="progress">
						<div id="progressBar" class="progress-bar progress-bar-success"
							role="progressbar" aria-valuenow="0" aria-valuemin="0"
							aria-valuemax="100" style="width: 0%">0%</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="base/layout :: scriptSegment"></div>

	<script th:inline="javascript">
		/*
		<![CDATA[*/
		var student_id = eval(/*[[${id}]]*/);
		var student_activities = /*[[${studentBean.highschool_activities}]]*/;
		/*]]>
		 */
	</script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/student-profile.js}"></script>
</body>

</html>
